body {
  margin: 0;
  padding: 0;
  background-image: url("./img/3wallpaper.jpg");
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;

}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
